<template name="home">
    {{>header}}
    <div class="container theme-showcase" role="main">
        <div class="panel panel-default">
            <div class="panel-heading" style="text-align: center ;  background-color: #0B0B0B;" role="tab" id="headingTwo">
                <h4 class="panel-title">
                    <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                        <p class="textTitle"> {{_ "how-to-play"}} </p>
                    </a>
                </h4>
            </div>
            <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                <div class="panel-body">
                    <p> {{_ "body-p-1"}} </p>
                    <p> {{_ "body-p-2"}} </p>
                    <p> {{_ "body-p-3"}} </p>
                    <p> {{_ "body-p-4"}} </p>
                    <p> {{_ "body-p-5"}} </p>
                    <p> {{_ "body-p-6"}} </p>
                    <p> {{_ "body-p-7"}} </p>
                </div>
            </div>
        </div>

        <br><br>

        <div style="text-align: center">
            <button id="start" type="button"  class="btn btn-lg btn-danger">{{_ "play-button"}}</button>
        </div>

        <br><br>
        {{#if isShowResult}}
        <div class="textLetter">
            <p style="text-align: center">
                {{_ "stop-letter-is"}} {{letter}}
            </p>
        </div>
        {{/if}}
    </div>
</template>