.headerJumbo {
    padding: 30px 15px;
    margin-bottom: 30px;
    color: inherit;
    background-color: #0B0B0B;
    text-align: center;
}

.textTitle{
    margin: 0px;
    padding: 0px;
    text-align: center;
    color: #ffffff;
    font-size: medium;
}

.textName{
    margin: 0px;
    padding: 0px;
    text-align: center;
    color: #ffffff;
    font-size: x-large;
}

.textLetter{
    margin: 0px;
    padding: 0px;
    text-align: center;
    font-size: 30px;
}

.logo{
    background-color: #0B0B0B;
    margin: 0px;
    padding: 0px;
    text-align: center;
}
.top_logo{
    width: 30%;
}






