<head>
    <title>PlayStop</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{{_ "meta-description"}}">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link href="css/play-stop.css" rel="stylesheet" type="text/css">
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
</head>
<template name="layout">
{{> yield}}
</template>
