<template name="header">
<header>
    <div class="container theme-showcase " role="main">
        <div class="headerJumbo">
            <p class="textName">{{_ "header-name"}} <img class="top_logo" src="img/logo.jpg"></p>
            <p class="textTitle">{{_ "header-title"}}</p>
        </div>
    </div>
</header>
</template>